pkgbase = ttf-input-custom
	pkgdesc = Fonts for Code, from Font Bureau. Updated for customized font (downloaded).
	pkgver = 20170404
	pkgrel = 1
	url = http://input.fontbureau.com/
	arch = any
	license = custom:Font Software License Agreement
	depends = fontconfig
	depends = xorg-fonts-encodings
	depends = xorg-font-utils
	provides = ttf-input
	conflicts = ttf-input
	source = Input-Font.zip
	sha256sums = 0b2b9993153983038a94f109bba0b6f092113ce62fd13219fe4841258858a164

pkgname = ttf-input-custom

